.card {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: #85C1E9;
}

.card1{
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: #ffc0cb
;
}
.card2 {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: #FFFFCC	;
}

.card:hover {
  background-color: #5DADE2;
}

.upButton {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0);
  border: 1px solid black;
}

.downButton {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0);
  border: 1px solid black;
}

.deleteButton {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,0);
  border: 1px solid black;
}

.card textarea {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  padding: 0;
  width: 80%;
  height: 80%;
  resize: none;
  border: none;
  font-size: 18px;
  background-color: rgba(0,0,0,0);
}

.card textarea:focus {
  outline:0;
}

.card1 textarea {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  padding: 0;
  width: 80%;
  height: 80%;
  resize: none;
  border: none;
  font-size: 18px;
  background-color: rgba(0,0,0,0);
}

.card1 textarea:focus {
  outline:0;
}

.card2 textarea {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  padding: 0;
  width: 80%;
  height: 80%;
  resize: none;
  border: none;
  font-size: 18px;
  background-color: rgba(0,0,0,0);
}

.card2 textarea:focus {
  outline:0;
}

.card-add-button {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px;
  border: dashed 2px #BEBEBE;
  border-radius: 16px;
  background-color: rgba(0,0,0,0);
  font-size: 28px;
  color: #BEBEBE;
}

.card-add-button:hover {
  border-color: #808080;
  color: #808080;
}

.card-add-button:focus {
  outline:0;
}
