.Ele{
  display:absolute;
  width: 100vw;
  height: 100vh;
  background-color: #F4F6F7;
  
}

.low{
	display: flex;
  flex-flow: row;
  width:1440px;
  height:100px;
}

.low p {
	font-size:64px;
	margin:1.25% 1.5% 0 0;
}

.low textarea{
  resize: none;
  font-size: 30px;
  width:50%;
  height:90%;
  margin:2% 2% 0 0.5%;
}


