.guide-header {
  background-color: #7DCEA0;
  width:100%;
  max-height:64px;
  padding: 16px;
}

.guide-header p {
  font-size: 2.4rem;
  font-weight: 800;
}
.guide-container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 2;
}
.guide-image {
	/*position: fixed;*/
	width: 100%;
	height: auto;
	z-index: 2;
}


.guide-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(100,100,100,0.5);;
}

.header {
	display: relative;
}
.guide {
	position: absolute;
	top: 120px;
  left: 300px;
	width: 950px;
	height: 550px;
	background-color: white;
	overflow-y:scroll;
	overflow-x:hidden;
	padding:10px 10px;
}

.guide::-webkit-scrollbar {
	width:8px;
	border: solid 10px #eee;
}
.guide::-webkit-scrollbar-track{
	background:white;
	border: solid 1px #eee;
}
.guide::-webkit-scrollbar-thumb{
	background:gray;
	border-radius: 4px;
}


.guide p {
	font-size:24px;
}

.guide h1 {
	font-size:24px;
}
.SImg {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: auto;
	height: 30%;
}

.LImg {
	height:80%;
}

.closeButton {
	position: absolute;
	/*
	right: 24%;
	top: 12%;
	-webkit-transform: translate(50%,-50%);
  transform: translate(50%,-50%);*/
  right:150px;
  top:70px;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	font-size: 2rem;
}

.closeButton:focus {
  outline:0;
}

.openButton {
	position: absolute;
	right: 16%;
	width: 54px;
	height: 32px;
	top:12px;
  display: inline-block;
  font-weight: bold;
  font-size:14px;
  text-decoration: none;
  color: #FFF;
  background: green;
  transition: .4s;	
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.29);	
	border-radius: 10px;  	

}

.openButton:hover {
	background-color:#3cb371;
}

.homeButton {
	position: absolute;
	right: 10%;
	top:12px;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;

}

.homeButton p {
  font-size:24px;
}

.nextButton {
	position: absolute;
	right: 0.5%;
	top:12px;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: green;
  transition: .4s;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.29);	
	border-radius: 10px;    
}

.nextButton:hover{
  background: #3cb371;	
}

.nextButton p {
  font-size:24px;
}


.backButton {
	position: absolute;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.29);	
  border-radius: 10px;  
	right: 6.7%;
	top:12px;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: green;
  transition: .4s;

}

.backButton p {
  font-size:24px;
}

.backButton:hover{
	background-color:#3cb371;
}

.allmenu{
  width:100vw;
  font-size:0;
}

.menu-bar{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
	color: #FFF;
  background:green;
  font-weight: bold;
  box-shadow: 0px 2px 2px ;
  width:24vw;  
  text-align:center;
}

.menu-bar-true{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
	color: #FFF;
  background: #3cb371;
  font-weight: bold;
  box-shadow: 0px 2px 2px ;
  width:24vw;  
  text-align:center
}

.menu-bar-top{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
	color: #FFF;
  background:green;
  font-weight: bold;
  box-shadow: 0px 2px 2px ;
  width:4vw;  
  text-align:center;
}

.menu-bar-true-top{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
	color: #FFF;
  background: #3cb371;
  font-weight: bold;
  box-shadow: 0px 2px 2px ;
  width:4vw;  
  text-align:center
}

.alart{
color: #ff0000;

}

.leantitle{
color: #2e8b57;	
}

.page-button{
	position:absolute;
	display:inline-block;
	width:200px;
	height:50px;
	font-size:18px;
	font-weight:bold;
	left:50px;
	top:130px;
  background-color: #7DCEA0;
	
}

.page-button-select{
	position:absolute;
	display:inline-block;
	width:200px;
	height:50px;
	font-size:18px;
	font-weight:bold;
	left:50px;
	top:130px;
  background: #3cb371;

	
}

.guideSlectButton{
	position:absolute;
	display:inline-block;
	width:200px;
	height:50px;
	font-size:13px;
	font-weight:bold;
	left:50px;
	top:50px;
  background-color: #7DCEA0;
	
}

.step-button{
	position:absolute;
	display:inline-block;
	width:200px;
	height:50px;
	font-size:18px;
	font-weight:bold;
	left:50px;
	top:190px;
  background-color: #7DCEA0;
	
}

.step-button-select{
	position:absolute;
	display:inline-block;
	width:200px;
	height:50px;
	font-size:18px;
	font-weight:bold;
	left:50px;
	top:190px;
  background-color: #3cb371;
	
}


.rule-button{
	position:absolute;
	display:inline-block;
	width:200px;
	height:50px;
	font-size:18px;
	font-weight:bold;
	left:50px;
	top:250px;
  background-color: #7DCEA0;
	
}

.rule-button-select{
	position:absolute;
	display:inline-block;
	width:200px;
	height:50px;
	font-size:18px;
	font-weight:bold;
	left:50px;
	top:250px;
  background-color: #3cb371;
	
}

.example-button{
	position:absolute;
	display:inline-block;
	width:200px;
	height:50px;
	font-size:18px;
	font-weight:bold;
	left:50px;
	top:310px;
  background-color: #7DCEA0;
	
}

.example-button-select{
	position:absolute;
	display:inline-block;
	width:200px;
	height:50px;
	font-size:18px;
	font-weight:bold;
	left:50px;
	top:310px;
  background-color: #3cb371;
	
}

.example-image{
	position:absolute;
	top: 120px;
  left: 300px;
	width: 950px;
	height: 550px;
	
}

.exampleGuide{
  position:relative;
  display: inline-block;
  top:-10px;
  left:10px;	
  height: 16px;
  width: 16px;
  margin: auto 0;
  margin-left: 2px;
  text-align:center;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 800;
  background-color: black;
  border: solid 2px black;
  border-radius: 50%; 
}

.exampleGuide:hover .hidekadaiGuide{
    display: inline-block;
    z-index:30;
}
