.guide-header {
  background-color: #7DCEA0;
  width:100%;
  max-height:64px;
  padding: 16px;
}

.guide-header p {
  font-size: 2.4rem;
  font-weight: 800;
}
.guide-container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 2;
}

.guide-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(100,100,100,0.5);;
}

.header {
	display: relative;
}
.guide {
	position: absolute;
	top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
	width: 50%;
	height: 70%;
	background-color: white;
	overflow-y:scroll;
	overflow-x:hidden;
}

.guide p {
	font-size:24px;
}

.guide h1 {
	font-size:24px;
}
.SImg {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: auto;
	height: 30%;
}

.LImg {
	height:80%;
}

.closeButton {
	position: absolute;
	right: 25%;
	top: 15%;
	-webkit-transform: translate(50%,-50%);
    transform: translate(50%,-50%);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 2rem;
}

.closeButton:focus {
  outline:0;
}

.openButton {
	position: absolute;
	right: 12%;
	display: inline-box;
	width: 48px;
	height: 32px;
	top:12px;
	border-radius: 8px;

}

.openButton:focus {
  outline:0;
}

.homeButton {
	position: absolute;
	right: 10%;
	top:12px;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;

}

.homeButton p {
  font-size:24px;
}

.nextButton {
	position: absolute;
	right: 1%;
	top:12px;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;

}

.nextButton p {
  font-size:24px;
}

.backButton {
	position: absolute;
	right: 6%;
	top:12px;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;

}

.backButton p {
  font-size:24px;
}

.allmenu{
  width:100vw;
  z-index:30;
  font-size:0;
}

.menu-bar{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
	color: #FFF;
  background:green;
  font-weight: bold;
  box-shadow: 0px 2px 2px ;
  width:25vw;  
  text-align:center;
}

.menu-bar-true{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
	color: #FFF;
  background: #fd9535;
  font-weight: bold;
  box-shadow: 0px 2px 2px ;
  width:25vw;  
  text-align:center
}

.alart{
color: #ff0000;

}

.leantitle{
color: #2e8b57;	
}
