.lean h1{
  font-size: 5rem;
  font-weight: 400;
}

.lean {
overflow:scroll;
  display: grid;

  width: 1440px;
  height: 730px;

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 288px 288px 144px 144px 288px 288px;

  background-color: #F4F6F7;
}

.name{
display:block;
	min-width:100%;
	height:10%;
	font-size:18px;
	  resize: none;
}

.write{
 position:relative;
  resize: none;
    	font-size:24px;

  min-width:100%;
  min-height:90%;
}

.nameL{
display:block;
	width:100%;
	height:10%;
	font-size:18px;
	  resize: none;
}

.writeL{
 position:relative;
  resize: none;
    	font-size:24px;

  width:100%;
  height:90%;
}

.kadai{
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}


.element{
  border:1px solid black;
  display: flex;
  background-color:white;
  height:10%;
  width:100%;
}
.ename{
  font-size:36px;
}
.ename p{
  line-height: 22px;
  font-size:18px;
}
.kadaiGuide{
  position:relative;
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: auto 0;
  margin-left: 2px;
  text-align:center;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 800;
  background-color: black;
  border: solid 2px black;
  border-radius: 50%; 
}

.hidekadaiGuide{
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 18px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 60vh;  
}

.RhidekadaiGuide{
    display: none;
    position: absolute;
    right:1vh;
    padding: 10px;
    font-size: 18px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 60vh;  
}

.kadaiGuide:hover .hidekadaiGuide{
    display: inline-block;
    z-index:30;
}

.kadaiGuide:hover .RhidekadaiGuide{
    display: inline-block;
    z-index:30;
}
.kizon{
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.solution{
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.syuyou{
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.dokuzi{
  grid-row: 1 / 2;
  grid-column: 3/ 5;
}

.highlevel{
  grid-row: 2 / 3;
  grid-column: 3/ 5;
}

.attouteki{
  grid-row: 1 / 2;
  grid-column: 5 / 6;
}

.tyaneru{
  grid-row: 2 / 3;
  grid-column: 5 / 6;
}

.kokyaku{
  grid-row: 1 / 2;
  grid-column: 6 / 7;
}

.early{
  grid-row: 2 / 3;
  grid-column: 6 / 7;
}

.cost{
  grid-row: 3 / 4;
  grid-column: 1 / 4;
}

.syueki{
  grid-row: 3 / 4;
  grid-column: 4 / 7;
}

.header {
}

.example{
  font-size:14px;
}