.tutorial{
  overflow-x:hidden;
}
.beforecom{
  display:inline-block;
  width:90vw;
  border: solid 3px #000000;
  font-size:24px;
  border-radius: 10px;/*角の丸み*/
  position:relative;
  margin: 10px 0px 10px 60px;
}

.beforecomB{
  display:inline-block;
  width:90vw;
  border: solid 3px #000000;
  font-size:24px;
  border-radius: 10px;/*角の丸み*/
  position:relative;
  margin: 10px 0px 10px 60px;
}

.returnurl{
  font-size:24px;
   background-color: #d3d3d3;
   display:inline-block
}

.emphaR{
  font-size:24px;
  color:red;
  display:inline-block;
  font-weight:bold;
}

.emphaB{
  font-size:24px;
  display:inline-block;
  font-weight:bold;
}

.flow{
  position:relative;
  left:50px;
  font-size:24px;
}

.obj{
  position:relative;
  right:52vw;
  top:-2.0vh;
}

.obj2{
  position:relative;
  right:45vw;
  top:-2.0vh;
}

.img_bar{
  position:relative;
  width:80vw;
  left:3.5vw;
}

.img_next{
  position:relative;
  left:1000px;
  width:280px;
  top:20px;
}
.img_guide{
  position:relative;
  left:1000px;
  width:100px;
  top:20px;
  }




